<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626395629722-k5ge59q2b17megl4q2ro6ck5j9fhbcj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626395629722-k5ge59q2b17megl4q2ro6ck5j9fhbcj8</string>
	<key>API_KEY</key>
	<string>AIzaSyDETQ1fCUl8u3oXaIhQEL0roq7HDeRaddQ</string>
	<key>GCM_SENDER_ID</key>
	<string>626395629722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.favoritespots</string>
	<key>PROJECT_ID</key>
	<string>allfavoriteplaces</string>
	<key>STORAGE_BUCKET</key>
	<string>allfavoriteplaces.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626395629722:ios:0463ac7729e5aedc3ef723</string>
	<key>DATABASE_URL</key>
	<string>https://allfavoriteplaces.firebaseio.com</string>
</dict>
</plist>